<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ChatApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list *ngFor="let message of messages">
      <ion-item>
        {{message.text}}
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-input (keypress)="sendMessage($event)" type="text" name="message" [(ngModel)]="messageText" placeholder="Type your message here..."></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
